:root{
  --void: #0E0B16;
  --fuschia: #A239CA;
  --jewel: #4717F6;
  --stark: #E7DFDD;
}
body{
  background: var(--void);
  color: white;
  /*color: var(--stark) !important;*/
}
.pad{
  background: #2c2c33;
  color: white;
  border: 0px solid black;
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 4px;
}


/*.slider-width{
  width: 800px;
}*/
/*#tempoRange[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 33px;
}

#tempoRange[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: yellow;
    margin-top: -4px;
}*/
/*.volume-slider{
width: 80px;
}*/

.instrument-container{
  /*border: 1px solid black;*/
}

.beatLit{
  color: red;
}
.bar-counter{
  font-size: 25px;
  color: black;

  background: #2c2c33;
  color: white;
  border: 0px solid black;
  border-radius: 1px;
}
.bar-counter-lit{
  color: red;
}
.barCounterLit{
  color: red;
}
div.instrument-controls{
 border: 1px solid green;
 display: inline-block;
 width: 100px;
 height: 200px;
}
div.instrument-controls p {
  margin: 0px;
}
div.instrument-volume{
  display: inline-block;
}

span.instrument-pad-name{
  display: inline-block;
  width: 120px;
}
span.instrument-pad-name p{
  margin: 0 !important;
}
div.pad-container{
  display: inline-block;
}
div.beat-counter-filler{
  width: 231px;
}
div.beat-dots-conatiner{
  /*width: 51*/
}
.beatTracker{
  display: inline;
  color: black;
  /*background: black;*/
  font-size: 41px;
  letter-spacing: 5px;

}

.inline{
  display: inline-block;
}
.isolator{
  margin-right: 3px;
}


.sequencer{
background: #28282b;
padding: 25px;
border-radius: 8px;
}
.bar-end{
  background: #2C2C40;
}


.pressed{
  box-shadow: inset 0px 0px 16px -2px #fbf5f5,
  1px 1px 17px 4px rgba(251, 31, 93, .6);
  background: #FB1F7D;
}
.lit{
  background: #eabfbf;
}
.top-row > *{
display: inline-block;
}
.container{
  background: #28282b;
}
.main-controls{
  background: #E7DFDD;
  position: absolute;
  top: 27px;
  border-radius: 3px;
  padding: 12px;
  color: #28282c;
}
.top-row{
  position: relative;
}
.bar-counter-pressed{
  box-shadow: inset 0px 0px 16px -2px #fbf5f5, 0 0px 15px 1px rgba(251, 31, 93, .3);

  background: #FB1F7D;
}
.col{
  display: inline-block;
}
.bar-lock-active{
  background: yellow;
}
