
.pad{
  background: pink;
  color: white;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 1px;
}
.pressed{
  box-shadow: inset 3px 3px 5px 6px white;

}
.lit{
  background: red;
}
.slider-width{
  width: 800px;
}
/*#tempoRange[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 33px;
}

#tempoRange[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: yellow;
    margin-top: -4px;
}*/
.volume-slider{
width: 80px;
}

.instrument-container{
  /*border: 1px solid black;*/
}



.beatLit{
  color: red;
}
.bar-counter{
  font-size: 50px;
  color: black;
}
.bar-counter-lit{
  color: red;
}
.barCounterLit{
  color: red;
}
div.instrument-controls{
 border: 1px solid green;
 display: inline-block;
 width: 100px;
 height: 200px;
}
div.instrument-controls p {
  margin: 0px;
}
div.instrument-volume{
  display: inline-block;
}

span.instrument-pad-name{
  display: inline-block;
  width: 120px;
}
span.instrument-pad-name p{
  margin: 0 !important;
}
div.pad-container{
  display: inline-block;
}
div.beat-counter-filler{
  width: 231px;
}
div.beat-dots-conatiner{
  /*width: 51*/
}
.beatTracker{
  display: inline;
  color: black;
  /*background: black;*/
  font-size: 41px;
  letter-spacing: 5px;

}

.inline{
  display: inline-block;
}
.isolator{
  margin-right: 3px;
}
