
.pad{
  background: pink;
  color: white;
  border: 3px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.pressed{
  background: yellow;
}
.lit{
  background: red;
}
.slider-width{
  width: 800px;
}
#tempoRange[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 33px;
}

#tempoRange[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: yellow;
    margin-top: -4px;
}
.volume-slider{

}

.instrument-container{
  border: 1px solid black;
}


.beatTracker{
  display: inline;
  color: black;
  /*background: black;*/
  font-size: 100px;

}
.beatLit{
  color: red;
}
